#searchbar{
    width: 70%;
    margin: 10px auto;
}
#query{
    width: 100%;
    height: 35px;
    border: 2px solid teal;
    outline: none;
    border-radius: 20px;
    padding: 0px 15px;
}
#category{
    display: flex;
    gap: 100px;  
}
#category h3 , select{
    border: 2px solid teal;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
select{
    color: black;
    font-weight: bold;
    outline: none;
}